.scroll-top {
  z-index: 10000;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  position: fixed;
  right: 60px;
  bottom: 60px;
  height: 60px;
  width: 60px;
  background-color: #5e1f18;
  border-radius: 50%;
  color: #fff;
  transition: transform 0.3s ease;
}

.scroll-top.show {
  display: flex;
}

.scroll-top:hover {
  transform: scale(1.2);
}
