<div>
  <section class="header">
    <h1 style="font-weight: bold; color: #5e1f18">{{'global.changePassword' | translate}}</h1>
    <div class="close__dialog">
      <button class="close" (click)="close()"><i class="fas fa-times"></i></button>
    </div>
  </section>
  <section class="content">
    <form class="login__form" [formGroup]="changePassword">
      <div class="login__form--content">
        <div class="row-control">
          <mat-form-field appearance="outline" style="margin-bottom: 20px!important; height: 60px!important; width: 100%!important;">
            <mat-label>{{ 'global.password' | translate }}</mat-label>
            <input style="padding: 0 20px" matInput placeholder="{{ 'global.password' | translate }}" formControlName="password" />
          </mat-form-field>
        </div>
        <div class="row-control"  style="margin-bottom: 24px">
          <mat-form-field appearance="outline" style="height: 60px!important; width: 100%!important;">
            <mat-label>{{'global.newPassword' | translate }}</mat-label>
            <input
              style="padding: 0 20px"
              type="{{ hidePassword ? 'password' : 'text' }}"
              matInput
              placeholder="{{'global.newPassword' | translate }}"
              formControlName="newPassword"
            />
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" style="top:6px; right: 2px">
              <mat-icon style="font-size: 24px">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row-control">
          <mat-form-field appearance="outline" style="height: 60px!important; width: 100%!important;">
            <mat-label>{{'global.confirmPassword' | translate }}</mat-label>
            <input
              style="padding: 0 20px"
              type="{{ hideConfilmPassword ? 'password' : 'text' }}"
              matInput
              placeholder="{{'global.confirmPassword' | translate }}"
              formControlName="conFilmPassword"
            />
            <button mat-icon-button matSuffix (click)="toggleConFilmPasswordVisibility()" style="top:6px; right: 2px">
              <mat-icon style="font-size: 24px">{{ hideConfilmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="row-control row-actions">
          <button style="margin-right: -12px; color: #fff; background-color: #5e1f18" mat-raised-button (click)="close()">
            {{'global.cancel'| translate}}
          </button>

          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="changePassword.invalid">
            {{'global.save'| translate}}
          </button>
        </div>
      </div>
    </form>
  </section>
</div>


