<div class="table__detail">
  <header>
    <section class="nameDetail">
      {{'manage.manageTable.tableId' | translate}} : {{data.id}}
    </section>
    <section>
      <div class="closeCreateAccount">
        <button class="close" (click)="close()"><i class="fas fa-times"></i></button>
      </div>
    </section>
  </header>
  <section class="content_detail">
    <div class="content_detail--item">
      <span class="content_detail-title">{{'manage.manageTable.nameCustomer' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.customer_name }}</span>
    </div>
    <div class="content_detail--item">
      <span class="content_detail-title">{{'manage.manageTable.orderId' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.order_id }}</span>
    </div>
    <div class="content_detail--item">
      <span class="content_detail-title">{{'manage.manageTable.nameProduct' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.product_name }}</span>
    </div>
    <div class="content_detail--item">
      <span class="content_detail-title">{{'manage.manageTable.timeOrder' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.date_order }}</span>
    </div>
    <div class="content_detail--item">
      <span class="content_detail-title">{{'manage.manageTable.price' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.total_amount | currency: 'VND'}}</span>
    </div>
    <div class="content_detail--item">
      <span class="content_detail-title">{{'Mã nv tạo đơn' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.account_id !== '0' ? detailTable.account_id : 'N/A'}}</span>
    </div>
    <div class="content_detail--item">
      <span class="content_detail-title">{{'Chiết khấu' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.discount !== '0' ? detailTable.discount : 'N/A'}} %</span>
    </div>
    <div class="content_detail--item">
      <span class="content_detail-title">{{'manage.manageTable.note' | translate}}  : </span><span class="content_detail-title color">{{ detailTable.note}}</span>
    </div>

  </section>
</div>
