<footer>
  <img src="./assets/img/imgHome/footer.jpg" alt="footer">
  <div class="footer__content ">
    <section class="footer__left">
      <iframe class="footer__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7598268213055!2d105.8180983153488!3d21.058201385988227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac6948c85b35%3A0xcffdc7946f300676!2zSMOyYSBC4bqvYyBN4bqldCBkaWFjaMOhIENow6J0IFRydW5nLCBQaMaw4budbmcgWFVBTiBMYSwgSG_DoCBTw6F5IFThu6sgSMOyYSBC4bqvYyBUw6JuLCBI4buTIENow6J0LCBWaeG7h3QgTmFt!5e0!3m2!1sen!2suk!4vYOUR_MAP_API_KEY" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
    <section class="footer__right">
      <h3>CHÚNG TÔI LÀ COFFEE POINT</h3>
      <p><i style="margin-right: 20px" class="fas fa-map-marker-alt"></i>Trụ sở chính: Đại học Mỏ Địa Chất </p>
      <p><i style="margin-right: 20px" class="fas fa-phone"></i>0393371798</p>
      <p><i style="margin-right: 20px" class="fas fa-envelope"></i>nguyenvanthangttt12@gmail.com</p>

      <div style="display: flex; margin-top: 20px">
        <a href="https://www.facebook.com/long.thang.5680899/" target="_blank">
          <i style="margin-right: 20px; color: #fff" class="fab fa-facebook"></i>
        </a>
        <a href="https://www.facebook.com/long.thang.5680899/" target="_blank">
          <i style="margin-right: 20px; color: #fff" class="fab fa-instagram"></i>
        </a>
      </div>
      <div style="margin-top: 60px; color: #c9bebe">
        <h3 style="color: #fff; text-transform: uppercase">giờ mở cửa</h3>
        <p>
          Thứ 2 - Thứ 6 hàng tuần
        </p>
        <p>
          7am - 11am11am - 10pm
        </p>
        <p>
          Thứ 7, Chủ nhật hàng tuần
        </p>
        <p>
          8am - 1 am11am - 9pm
        </p>
      </div>
    </section>
  </div>

</footer>
