<footer>
  <img src="./assets/img/imgHome/footer.jpg" alt="footer">
  <div class="footer__content ">
    <section class="footer__left">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.0148204388106!2d105.77135407503265!3d21.072070280588147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3134552defbed8e9%3A0x1584f79c805eb017!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBN4buPIC0gxJDhu4thIGNo4bqldA!5e0!3m2!1svi!2s!4v1715587501358!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section class="footer__right">
      <h3>CHÚNG TÔI LÀ COFFEE POINT</h3>
      <p><i style="margin-right: 20px" class="fas fa-map-marker-alt"></i>Trụ sở chính: Đại học Mỏ Địa Chất </p>
      <p><i style="margin-right: 20px" class="fas fa-phone"></i>0971807256</p>
      <p><i style="margin-right: 20px" class="fas fa-envelope"></i>doantan1802@gmail.com</p>

      <div style="display: flex; margin-top: 20px">
        <a href="https://www.facebook.com/tanmotnhat/" target="_blank">
          <i style="margin-right: 20px; color: #fff" class="fab fa-facebook"></i>
        </a>
        <a href="https://www.facebook.com/tanmotnhat/" target="_blank">
          <i style="margin-right: 20px; color: #fff" class="fab fa-instagram"></i>
        </a>
      </div>
      <div style="margin-top: 60px; color: #c9bebe">
        <h3 style="color: #fff; text-transform: uppercase">giờ mở cửa</h3>
        <p>
          Thứ 2 - Thứ 6 hàng tuần
        </p>
        <p>
          07H - 23H
        </p>
        <p>
          Thứ 7, Chủ nhật hàng tuần
        </p>
        <p>
          08H - 23H30
        </p>
      </div>
    </section>
  </div>

</footer>
